{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="flex w-full">
		{% include 'layout/_aside.html.twig' %}


		<div class="flex flex-col">
			{% include 'layout/_top.html.twig' %}

    
		</div>
	</div>
{% endblock %}
