{% extends 'base.html.twig' %}

{% block title %}Recherchez un exercice {% endblock %}

{% block body %}
	<div class="flex w-full">
		{% include 'layout/_aside.html.twig' %}


<div class="flex flex-col w-full">
			{% include 'layout/_top.html.twig' %}


			<div class="bg-slate-200 flex flex-col items-center h-full font-['Epilogue'] ">
				<div class="w-full text-center md:w-[90%] lg:text-start">
					<h1 class="text-3xl md:text-4xl font-medium text-center lg:text-start text-blue-950 p-4">Rechercher un exercice</h1>
				</div>
				<div class="bg-white rounded-md	 w-[85%] md:w-[90%] lg:h-[75%] mx-0 p-0 mt-4 md:mt-10 lg:mt-6">
				</div>

				
			</div>
		</div>
	</div>
{% endblock %}
