{# _menu.html.twig #}

<div class="flex gap-[10px]">

    <img src="{{ image_name }}" class="w-[40px] h-[40px" alt="Image correspondant au raccourci de la page {{ page_name }}.">

   <div class="pt-2 text-gray-600"> 
   
    <a href="">{{ page_name }}</a> 

    </div>

</div>