{# _menu.html.twig #}


<img src="{{ image_name }}" class="w-[60px] h-[60px] pl-8" alt="Image correspondant au raccourci de la page {{ page_name }}.">

{# <a href="{{ path('')}}">{{ page_name }}</a> #}