{# _composant-menu-responsive.html.twig #}

<div class="flex">

    <div class="flex flex-column">
        <img src="{{ default_img }}" class="img-responsive" alt="Image illustrant le menu {{ menu_name }}" />
        <p class="">{{ menu_name }} </p>
    </div>



</div>