{# _menu.html.twig #}

<div class="lg:flex lg:gap-[10px]">

    <img src="{{ image_name }}" class="lg:w-[40px] lg:h-[40px]" alt="Image correspondant au raccourci de la page {{ page_name }}.">

   <div class="lg:pt-2 lg:text-gray-600"> 
   
    <a href="">{{ page_name }}</a> 

    </div>

</div>