<aside class="w-2/12 static">
    <div>
        <img src="images/logo 1.png">
        <div>
            <h1>Math Index</h1>
            <p>Lycée Saint-Vincent - Senlis</p>
        </div>
    </div>
</aside>